<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DbConnetstring" connectionString="server=192.168.1.201;database=Winform;uid=sa;pwd=123456"/>
  </connectionStrings>
  <appSettings>
    <add key="FileAddress" value="f"/>
  </appSettings>
</configuration>